article {
  margin: 0 auto;
  @include padding($padding-rhythm--content, mobile);

  & > * {
    max-width: $max-width--content;
    margin-left: auto;
    margin-right: auto;
  }

  @each $device, $width in $screen-breakpoint {
    @include min-screen($width) {
      @include padding($padding-rhythm--content, $device);

      @if (desktop == $device) {
        max-width: $width;

        .float-left,
        .float-right {
          max-width: $max-width--content-float;
          padding: 0 ($max-width--content-float * 8.75 / 100);
        }

        .float-left {
          float: left;
        }

        .float-right {
          float: right;
        }
      }
    }
  }
}
